nav{
width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
    height: 4rem;
}
nav > ul{
text-transform: uppercase;
font-size: 17px;
}
nav > ul > li{
cursor: pointer;
}
/* Section 1 */
.carousel-item > .caption{
position: absolute;
top: 0;
width: 100%;
color: white;
text-align: center;
padding-top: 10%;
}
.carousel-item > img{
height:350px;
}


.carousel-item > .caption h1{
font-size: 45px;
}
.carousel-item > .caption > button{
text-transform: uppercase;
font-weight: bold;
margin-top: 20px;
}

/* Section 2 */
.two{
background-color: #FAFAFA;
}
/* Section 3 */
.three .card{
background-color: #EDF0F5;
height: 12rem;
}
.three h2{
color: #0589DC;
text-align: center;
}
.three .card > h3{
color: #0589DC;
}
/* Section 4 */
.four .growth{
display: flex;
flex-direction: column-reverse;
}

.four .newspaper img,.four .growth img,.four .festival img{
height: 300px;
}

/* Section 5 */
.five{
padding: 6rem 3rem;
}
.five > div{
height: 8rem;
}
/* Section 6 */
.six{
background-color: black;
color: white;
padding: 3rem;
}
.six input{
border: none;
outline: none;
}

/* not in section */
.line{
height: 1px;
background-color: white;
}
/* Section 7 */
.seven{
background-color: black;
color: white;
}
.seven li:hover{
cursor: pointer;
font-size: 17px;
}

::-webkit-scrollbar{
width: 0.3rem;
background-color: #6d99b4;
}
::-webkit-scrollbar-thumb{
width: 0.3rem;
background-color: #910bb9;
border-radius: 5px;
}

/* ------ This is the query for the medium and large screen sizes ------- */
@media screen and (min-width:768px){
/* section 1 */
.carousel-item > img{
height:500px;
}

/* Section 4 */
.four .newspaper,.four .growth,.four .festival{
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
}

.four .growth{
flex-direction: row;
}

.four .newspaper img,.four .growth img,.four .festival img{
height: 400px;
}
}
